@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel='stylesheet' href='~/css/site.css' />
    <script src='~/js/site.js'></script>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is a simple .NET Core web application.</p>
        <button id="myButton">Click me</button>
    </div>
</body>
</html>